<h1>
  {{title}}
</h1>

<app-size-change [(size)]="fontSizePx"></app-size-change>
<!--<app-size-change [size]="fontSizePx" (doubleSizeChange)="fontSizePx=$event"></app-size-change>-->
<div [style.font-size.px]="fontSizePx">Resizable text</div>
<button routerLink="/customers">Customers</button>
<button routerLink="/orders">Orders</button>
<button routerLink="">Home</button>
<button routerLink="/peek-a-boo">Peek a boo</button>
<button routerLink="/spy">Spy</button>
<button routerLink="/on-change">On Change</button>

<router-outlet></router-outlet>
